 *{
	 box-sizing:border-box;
	 font-family: 'Lato', sans-serif;
	  font-weight:400;
	 
 }
 body{
	 margin:0px; 
 }
 .navbar{
	 background-color : #3792DF;
	 height:9%;
	 padding : 0.9%;
 }
  .navbar-row{
	//border:1px solid red;
	width:50%;
	margin : auto;
	display : flex;
	justify-content : space-between;
	height : 90%;
	 
 }
 .container{
	width:50%;
	margin : auto;
	display : flex;
	height : fit-content;
	flex-direction:column; 
	 
 }
 .row{
	height : fit-content;
	border: 1px solid black;
	    box-shadow: 1px 1px 3px 1px grey;
		margin-bottom:10px; 
	display : flex;
	flex-wrap : wrap;
 }
 .first-row{
	//border: 1px solid green;
	display : flex;
	flex-wrap : wrap;
 }
 #select{
	 width:35%;
	 border-radius: 5px;
}
 #input{
	 width:85%;
	 height:100%;
	 border : 0px;
	 padding:0px;
	 border-radius: 5px 0px 0px 5px;
	 outline: 0px;
 }
 #submit{
	 width:15%;
	 border : 0px;
	 padding:0px;
	 background-color: white;
	 border-radius: 0px 5px 5px 0px;
 }
 
 #submit i{
	 
	 font-size:20px;
	
 }
 #profile-icon{
	    border-radius: 50%;
    /* margin: auto; */
    margin: 12px;
	width:80%;
 }
 .left-content{
	 width : 20%;
	 //border : 1px solid yellow;
	 
 }
 .mid-content{
	 width : 60%;
	 //border : 1px solid yellow;
 }
  .right-content{
	 width : 20%;
	 position: relative;
	
 }
 #btn-detatil{
	 margin:5px;
	  position: absolute;
	  bottom :0px;
	  right:0px;
	  width : -webkit-fill-available;
	  height : 20%;
	  background-color:white;
 }
 .name , .detail-data p{
	 font-weight:700;
 }
 .first-inner-row{
	 height:fit-content;
 }
 .detail-data{
	 width : 60%;
	 margin : auto;
	 display : flex;
	 flex-direction:column;
	 display:none;
 }
 .detail-data-row{
	
 }
 .searchbox{
	  width:55%;
	  display:flex;
 }
.right-content-collapse{
	width : 20%;
	 //border : 1px solid yellow;
	 position: relative;
	 display:none;
 }
 .detail-data-row p{
	 float:left;
	width:50%;
 }
 .detail-data .detail-data-row:nth-child(even){
	 background-color : #dedede;
 }
 div.detail-data .detail-data-row:nth-child(odd){
	 background-color : #cdcdcd;
 }
 .pagination{
	width:50%;
	margin : auto;
	position : relative;
	margin-bottom : 10px;
 }
 .page{
	 position: absolute;
    right: 0px;
 }